#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: BASE */
        default_layer {
            bindings = <
&kp Q      &kp W      &kp E      &kp R      &kp T                                          &kp Y      &kp U      &kp I      &kp O      &kp P
&kp A      &kp S      &kp D      &kp F      &kp G                                          &kp H      &kp J      &kp K      &kp L      &kp SEMI
&kp Z      &kp X      &kp C      &kp V      &kp B      &mt LGUI 138       &lt 3 139        &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH
&kp LCTL   &kp LSFT                        &mt LALT BSPC &lt 1 SPC        &lt 2 RET        &mt RALT BSPC            &kp LSFT   &kp LCTL
            >;
        };

        /* Layer 1: Navigation & JP Symbols (Excel準拠) */
        layer_1 {
            bindings = <
&kp ESC    &kp GRAVE  &kp END    &kp INS    &kp TAB                                        &kp LS(141) &none     &kp UP     &kp 141    &kp 137
&kp HOME   &kp SLCK   &kp DEL    &kp K_VOL_UP &kp PG_UP                                    &kp LS(SEMI) &kp LEFT  &kp DOWN   &kp RIGHT  &kp MINUS
&kp PAUSE  &kp 136    &none      &kp K_VOL_DN &kp PG_DN  &trans              &trans        &mkp MB1    &mkp MB2   &kp LS(LBKT) &kp LS(RBKT) &none
&trans     &trans                            &trans     &trans              &trans        &trans                           &trans     &trans
            >;
        };

        /* Layer 2: Numbers & Functions (Excel準拠) */
        layer_2 {
            bindings = <
&kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                         &kp N6      &kp N7     &kp N8     &kp N9     &kp N0
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                         &kp F6      &kp F7     &kp F8     &kp F9     &kp F10
&kp K_PREV &kp K_PP   &kp K_NEXT &kp K_MUTE &kp PSCRN  &trans              &trans          &kp LNLCK   &kp K_APP  &kp CAPS   &kp F11    &kp F12
&trans     &trans                          &trans     &trans              &trans          &trans                            &trans     &trans
            >;
        };

        /* Layer 3: System (BT/Bootloader) */
        layer_3 {
            bindings = <
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                               &trans  &trans  &trans  &trans  &trans
&trans       &trans       &trans       &trans       &trans                                     &trans  &trans  &trans  &trans  &trans
&bt BT_CLR   &trans       &trans       &trans       &bootloader  &trans           &trans       &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
&trans       &trans                                 &trans       &trans           &trans       &trans                  &trans  &trans
            >;
        };
    };
};
