#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*
 * Pyuron.keymap
 *
 * 方針:
 * - F/J には Shift を置かない
 * - Space 長押し = Left Shift
 * - Enter 長押し = Right Shift
 * - A/S/D, K/L/; だけホームロウMod
 * - 無変換 長押し = NAV
 * - 変換   長押し = SYM
 *
 * 注意:
 * - Pyuron の元レイアウトは 40 キー構成です。
 * - 以前のアスキーアートでは省略していた中央2キーには、
 *   トラックボール用として MB1 / MB2 を割り当てています。
 */

#define BASE  0
#define NAV   1
#define SYM   2
#define BT    3
#define EXTRA 4
#define MEDIA 5
#define MOUSE 6

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <125>;
    require-prior-idle-ms = <100>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    behaviors {
        /*
         * ホームロウ・モディファイア
         * 例: &hm LCTRL D
         *     短押し D / 長押し Left Ctrl
         */
        hm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;

            bindings = <&kp>, <&kp>;
        };

        /*
         * 親指用モディファイア
         * Space / Enter の Shift 化専用。
         */
        thm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODS";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <100>;

            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * BASE レイヤー
         *
         * ┌────┬────┬────┬────┬────┐      ┌────┬────┬────┬────┬────┐
         * │ Q  │ W  │ E  │ R  │ T  │      │ Y  │ U  │ I  │ O  │ P  │
         * │A/W │S/A │D/C │ F  │ G  │      │ H  │ J  │K/C │L/A │;/W │
         * │ Z  │ X  │ C  │ V  │ B  │ MB1  │ MB2│ N  │ M  │ ,  │ .  │ / │
         * └────┴────┴────┴────┴────┘      └────┴────┴────┴────┴────┘
         *
         * 下段:
         * Esc/Ctrl, Tab/Alt, 無変換/NAV, Space/Shift,
         * Enter/Shift, 変換/SYM, Backspace/Alt, Delete/Ctrl
         */
        default_layer {
            bindings = <
                &kp Q        &kp W        &kp E        &kp R        &kp T        &kp Y        &kp U        &kp I        &kp O        &kp P

                &hm LWIN A   &hm LALT S   &hm LCTRL D  &kp F        &kp G        &kp H        &kp J        &hm RCTRL K  &hm RALT L   &hm RWIN SEMI

                &kp Z        &kp X        &kp C        &kp V        &kp B        &mkp MB1     &mkp MB2     &kp N        &kp M        &kp COMMA     &kp DOT      &kp SLASH

                &mt LCTRL ESC &mt LALT TAB &lt NAV INT5 &thm LSHFT SPACE &thm RSHFT ENTER &lt SYM INT4 &mt RALT BACKSPACE &mt RCTRL DELETE
            >;
        };

        /*
         * NAV レイヤー
         * 無変換 長押し
         */
        nav_layer {
            bindings = <
                &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7       &kp F8       &kp F9       &kp F10

                &kp LWIN     &kp LALT     &kp LCTRL    &kp LSHFT    &kp ESC      &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &kp BACKSPACE

                &kp PSCRN    &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &mkp MB1     &mkp MB2     &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &kp DELETE

                &to BT       &trans       &trans       &trans       &kp ENTER    &trans       &trans       &trans
            >;
        };

        /*
         * SYM / NUM レイヤー
         * 変換 長押し
         */
        sym_layer {
            bindings = <
                &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT    &kp CARET    &kp AMPS     &kp ASTRK    &kp LPAR     &kp RPAR

                &kp N1       &kp N2       &kp N3       &kp N4       &kp N5       &kp N6       &kp N7       &kp N8       &kp N9       &kp N0

                &kp GRAVE    &kp SQT      &kp DQT      &kp MINUS    &kp EQUAL    &kp COLON    &kp SEMI     &kp LBKT     &kp RBKT     &kp LBRC     &kp RBRC     &kp BSLH

                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        /*
         * BT レイヤー
         * NAV レイヤー左下の &to BT から入る。
         * 左下の &to BASE で通常レイヤーへ戻る。
         */
        bt_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans       &trans       &trans       &trans       &trans

                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans

                &bt BT_CLR   &trans       &trans       &trans       &bootloader  &trans       &trans       &trans       &trans       &trans       &trans       &bt BT_CLR_ALL

                &to BASE     &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        extra_layer {
            bindings = <
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        media_layer {
            bindings = <
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT   &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &kp C_PP     &kp C_MUTE   &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        mouse_layer {
            bindings = <
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &mkp MB1    &mkp MB3    &mkp MB2    &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };
    };
};
